<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/head :: head">



</head>

<body>
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->

    <!--INICIO SIDEBAR-->
    <aside th:replace="layout/sidebar :: sidebar"></aside>
    <!--FINAL SIDEBAR-->


    <main class="main-content">
        <div class="position-relative iq-banner">
            <!--Inicio Topbar-->
            <nav th:replace="layout/topbar :: topbar"></nav>
            <!-- FINAL TOPBAR -->

            <!-- INICIO PRESENTACION -->
            <div th:replace="layout/fragmento :: banner"></div>
            <!-- FIN INICIO PRESENTACION -->
        </div>
        <div class="conatiner-fluid content-inner mt-n5 py-0">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h3 class="card-title">Lista de Titulos Generados</h3>
                               
                            </div>



                        </div>

                        <br>

                        <div class="card-body">
                            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Primera Versión</button>
                                </li>
                               
                           
                              </ul>
                              <div class="tab-content" id="pills-tabContent">
                                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                                    <table id="datatable" class="table table-striped" data-toggle="data-table">
                                        <thead>
                                            <tr>
                                                <th class="border-bottom-0">Número de Revalidación</th>
                                                <th class="border-bottom-0">Titular</th>
                                           
                                                <th class="border-bottom-0">Fecha Generación</th>

                                                
                                                <th class="border-bottom-0">Accion</th>
        
                                            </tr>
                                        </thead>
                                        <tbody>
        
                                            <tr th:each="reva : ${revalidaciones}" th:if="${reva.estado == 'A'}">
                                             
                                                <td th:text="${reva.nro_revalidacio}"></td>
                                                <td th:text="${reva.persona_revalidacion}"></td>
                                               
                                             

                                                
                                                <td th:text="${reva.fecha_generacion}"></td>
                                               
                                             
                                                <td>

                                                    <div class="d-flex  mb-1">
                                                        <div class="flex align-items-center list-user-action">
        
                                                        
                                                            <a type="button" lass="btn btn-sm btn-icon btn-warning"
                                                            th:onclick="renombrar([[${reva.id_revalidacion}]])" title="Ver"
                                                            data-original-title="Ver">
                                                            <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M8.09756 12C8.09756 14.1333 9.8439 15.8691 12 15.8691C14.1463 15.8691 15.8927 14.1333 15.8927 12C15.8927 9.85697 14.1463 8.12121 12 8.12121C9.8439 8.12121 8.09756 9.85697 8.09756 12ZM17.7366 6.04606C19.4439 7.36485 20.8976 9.29455 21.9415 11.7091C22.0195 11.8933 22.0195 12.1067 21.9415 12.2812C19.8537 17.1103 16.1366 20 12 20H11.9902C7.86341 20 4.14634 17.1103 2.05854 12.2812C1.98049 12.1067 1.98049 11.8933 2.05854 11.7091C4.14634 6.88 7.86341 4 11.9902 4H12C14.0683 4 16.0293 4.71758 17.7366 6.04606ZM12.0012 14.4124C13.3378 14.4124 14.4304 13.3264 14.4304 11.9979C14.4304 10.6597 13.3378 9.57362 12.0012 9.57362C11.8841 9.57362 11.767 9.58332 11.6597 9.60272C11.6207 10.6694 10.7426 11.5227 9.65971 11.5227H9.61093C9.58166 11.6779 9.56215 11.833 9.56215 11.9979C9.56215 13.3264 10.6548 14.4124 12.0012 14.4124Z"
                                                                    fill="currentColor">
        
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        <a  class="btn btn-sm btn-icon btn-danger" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="Eliminar"
                                                        th:attr="onclick=${'MandarURL('+reva.id_revalidacion+')'}">
                                                        <span class="btn-inner">
                                                            <svg class="icon-20" width="20" viewBox="0 0 24 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg" stroke="currentColor">
                                                                <path
                                                                    d="M19.3248 9.46826C19.3248 9.46826 18.7818 16.2033 18.4668 19.0403C18.3168 20.3953 17.4798 21.1893 16.1088 21.2143C13.4998 21.2613 10.8878 21.2643 8.27979 21.2093C6.96079 21.1823 6.13779 20.3783 5.99079 19.0473C5.67379 16.1853 5.13379 9.46826 5.13379 9.46826"
                                                                    stroke="currentColor" stroke-width="1.5"
                                                                    stroke-linecap="round" stroke-linejoin="round">
                                                                </path>
                                                                <path d="M20.708 6.23975H3.75" stroke="currentColor"
                                                                    stroke-width="1.5" stroke-linecap="round"
                                                                    stroke-linejoin="round"></path>
                                                                <path
                                                                    d="M17.4406 6.23973C16.6556 6.23973 15.9796 5.68473 15.8256 4.91573L15.5826 3.69973C15.4326 3.13873 14.9246 2.75073 14.3456 2.75073H10.1126C9.53358 2.75073 9.02558 3.13873 8.87558 3.69973L8.63258 4.91573C8.47858 5.68473 7.80258 6.23973 7.01758 6.23973"
                                                                    stroke="currentColor" stroke-width="1.5"
                                                                    stroke-linecap="round" stroke-linejoin="round">
                                                                </path>
                                                            </svg>
                                                        </span>
                                                    </a>
                                                        </div>
        
        
                                                    </div>
        
        
        
                                                </td>
                                            </tr>
        
        
        
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="border-bottom-0">Número de Revalidación</th>
                                              
                                                
                                                <th class="border-bottom-0">Fecha Generación</th>
                                           
                                                <th class="border-bottom-0">Accion</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    <div class="modal fade" tabindex="-1" id="ModalEvaluacion" role="dialog"
                                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
            
                                            <div>
            
            
                                                <iframe width="800" height="800" id="iframe-pdf" frameborder="0"
                                                    allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                            </div>
            
                                        </div>
                                    </div>
                                </div>
                                </div>
                              
                              
                              </div>
                           
                        </div>
                      
                       
                    </div>


                  



                </div>
            </div>
        </div>
        </div>

        <!-- Footer Section Start -->
        <footer th:replace="layout/footer :: footer">
        </footer>
        <!-- Footer Section End -->
    </main>
    <!-- INICIO TEMA -->
    <a th:replace="layout/fragmento :: tuerca"></a>
    <!-- FIN INICIO TEMA -->

    <!-- INICIO CONTENIDO TEMA -->
    <div th:replace="layout/fragmento :: tema"></div>
    <!-- FIN INICIO CONTENIDO -->

    
    <script>
        function MandarURL(a) {
            swal({
                title: 'Eliminar Registro?',
                type: 'error',
                showCancelButton: true,
                showConfirmButton: false,
                cancelButtonText: "Cancelar",
                html:
                    "<a type='button' class='swal2-styled ' style='display: inline-block; background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214); padding: 13px 35px 13px 35px;' data-original-title='' title='' href='../../../../eliminar-revalidacion/" + a + "'  >" +
                    "Eliminar" +
                    "</a>",
            }).then().done();
        }
    </script>
    <script type="text/javascript">
        function renombrar(id_archivo_adjunto) {
            var id_a = id_archivo_adjunto;

            //alert(id_archivo_adjunto);

            $("#ModalEvaluacion").modal("show");

            $("#id_a").val(id_a);

            $("#iframe-pdf").attr("src", `/openFileRevalidacion/${id_a}`)


        }

    </script>
     <script type="text/javascript">
        function renombrar2(id_archivo_adjunto) {
            var id_a = id_archivo_adjunto;

            //alert(id_archivo_adjunto);

            $("#ModalEvaluacion2").modal("show");

            $("#id_a").val(id_a);

            $("#iframe-pdf2").attr("src", `/openFileRevalidacion/${id_a}`)


        }

    </script>
     <script type="text/javascript">
        function renombrar3(id_archivo_adjunto) {
            var id_a = id_archivo_adjunto;

            //alert(id_archivo_adjunto);

            $("#ModalEvaluacion3").modal("show");

            $("#id_a").val(id_a);

            $("#iframe-pdf3").attr("src", `/openFileRevalidacion/${id_a}`)


        }

    </script>



    <script>
        function AprobarSol(a) {
            swal({
                title: 'Aprobar Solicitud?',
                type: 'warning',
                showCancelButton: true,
                showConfirmButton: false,
                cancelButtonText: "Cancelar",
                html:
                    "<a type='button' class='swal2-styled ' style='display: inline-block; background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214); padding: 13px 35px 13px 35px;' data-original-title='' title='' href='../../../../aprobar-solicitud-legalizacion/" + a + "'  >" +
                    "Aprobar" +
                    "</a>",
            }).then().done();
        }
    </script>


    <script>
        function RechazarSol(a) {
            swal({
                title: 'Rechazar Solicitud?',
                type: 'error',
                showCancelButton: true,
                showConfirmButton: false,
                cancelButtonText: "Cancelar",
                html:
                    "<a type='button' class='swal2-styled ' style='display: inline-block; background-color: rgb(48, 133, 214); border-left-color: rgb(48, 133, 214); border-right-color: rgb(48, 133, 214); padding: 13px 35px 13px 35px;' data-original-title='' title='' href='../../../../rechazar-solicitud-legalizacion/" + a + "'  >" +
                    "Rechazar" +
                    "</a>",
            }).then().done();
        }
    </script>

    <!--INICIO SCRIPTS-->
    <div th:replace="layout/script :: script"></div>
    <!--FINAL SCRIPTS-->
</body>

</html>