<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        @page {
            size: letter;
            margin: 1cm; /* Márgenes de 1cm en todos los lados */
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
        }

        /* Tu estilo personalizado aquí */

    </style>
    <title>Plantilla Revalidación con tamaño de hoja carta</title>
</head>
<body>

   <h3 style="text-align: center;">Universidad Amazónica de Pando</h3>
   
</body>
</html>
