<!doctype html>
<html lang="en" dir="ltr">

<head th:replace="layout/head :: head">



</head>

<body class="  ">
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->

    <!--INICIO SIDEBAR-->

    <aside th:replace="layout/sidebar :: sidebar">


    </aside>
    <!--FINAL SIDEBAR-->



    <main class="main-content">
        <div class="position-relative iq-banner">
            <!--Inicio Topbar-->
            <nav th:replace="layout/topbar :: topbar"></nav>
            <!-- FINAL TOPBAR -->

            <!-- INICIO PRESENTACION -->
            <div th:replace="layout/fragmento :: banner"></div>
            <!-- FIN INICIO PRESENTACION -->
        </div>

        <!-- INICIO CONTENIDO -->
        <div class="conatiner-fluid content-inner mt-n5 py-0">
            <div class="row">

                <div class="col-md-12 col-lg-8">
                    <div class="row">



                    </div>
                </div>

            </div>
        </div>
        <!-- FIN INICIO CONTENIDO -->

        <!-- Footer Section Start -->
        <footer th:replace="layout/footer :: footer">
        </footer>
        <!-- Footer Section End -->
    </main>
    <!-- INICIO TEMA -->
    <a th:replace="layout/fragmento :: tuerca"></a>
    <!-- FIN INICIO TEMA -->

    <!-- INICIO CONTENIDO TEMA -->
    <div th:replace="layout/fragmento :: tema"></div>
    <!-- FIN INICIO CONTENIDO -->


    <!--SCRIPTS-->
    <div th:replace="layout/script :: script"></div>


</body>

</html>