<!DOCTYPE html>
<html lang="en">

<head th:replace ="layout/layout2 :: head" >
    
</head>

<body>
    
    <!-- Header Start -->
    <div th:replace ="layout/layout2 :: menu" >
        
    </div>
    <!-- Header End -->


    <!-- Carousel Start -->
    <div th:replace ="layout/layout2 :: carousel" >
        
    </div>
    <!-- Carousel End -->


    <!-- Contact Info Start -->
    <div class="container-fluid pb-5 contact-info">
        <div class="row">
            <div class="col-lg-4 p-0">
                <div class="contact-info-item d-flex align-items-center justify-content-center bg-primary text-white py-4 py-lg-0">
                    <i class="fa fa-3x fa-map-marker-alt text-secondary mr-4"></i>
                    <div class="">
                        <h5 class="mb-2">Campus Universitario</h5>
                        <p class="m-0">Av. Las Palmas , Pando, BOLIVIA</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="contact-info-item d-flex align-items-center justify-content-center bg-primary text-white py-4 py-lg-0">
                    <i class="fa fa-3x fa-envelope-open text-primary mr-4"></i>
                    <div class="">
                        <h5 class="mb-2">Email</h5>
                        <p class="m-0">universidad.amazonica.pando@uap.edu.bo</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 p-0">
                <div class="contact-info-item d-flex align-items-center justify-content-center bg-primary text-white py-4 py-lg-0">
                    <i class="fa fa-3x fa-phone-alt text-secondary mr-4"></i>
                    <div class="">
                        <h5 class="mb-2">Telefono</h5>
                        <p class="m-0">(+591)3-842-2135</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact Info End -->





    <!-- CONTENIDO -->
    <div class="container-fluid pt-5">
    
        <div class="container pt-5">
            
    
            
            
        </div>
    </div>
    <!-- CONTENIDO-->


    <!-- Footer Start -->
    <div th:replace ="layout/layout2 :: footer" >
        
    </div>
    <!-- Footer End -->

      <!-- Modal Login Start -->
      <div th:replace ="layout/layout2 :: modalLogin" >
        
      </div>
      <!-- Modal Login End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-primary px-3 back-to-top"><i class="fa fa-angle-double-up"></i></a>


 <div th:replace = "layout/layout2 :: script"></div>
</body>

</html>