.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.903809;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.758789;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{width:2.028000px;}
._8{width:3.068000px;}
._4{width:31.824000px;}
._5{width:55.016000px;}
._2{width:89.596000px;}
._3{width:92.508000px;}
._0{width:94.416000px;}
._6{width:108.592000px;}
._1{width:134.420000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:52.000000px;}
.fs4{font-size:64.000000px;}
.fs6{font-size:72.000000px;}
.fs5{font-size:108.000000px;}
.fs0{font-size:112.000000px;}
.y8{bottom:-163.477020px;}
.y7{bottom:-69.186005px;}
.y6{bottom:-36.989044px;}
.y2e{bottom:3.271998px;}
.y32{bottom:3.978000px;}
.y2c{bottom:4.217997px;}
.y11{bottom:6.437999px;}
.y1a{bottom:7.005997px;}
.y2{bottom:7.985001px;}
.yd{bottom:9.876999px;}
.y1e{bottom:9.904999px;}
.y14{bottom:10.005999px;}
.y17{bottom:11.405996px;}
.y24{bottom:11.592010px;}
.y30{bottom:12.122001px;}
.y19{bottom:19.654997px;}
.y13{bottom:22.654999px;}
.yc{bottom:23.676002px;}
.y28{bottom:23.790012px;}
.y16{bottom:24.054996px;}
.y1c{bottom:24.967999px;}
.y23{bottom:26.541008px;}
.yf{bottom:36.285011px;}
.yb{bottom:37.475002px;}
.y27{bottom:38.739012px;}
.y22{bottom:41.490009px;}
.y26{bottom:53.688012px;}
.y2a{bottom:65.147006px;}
.y21{bottom:71.388009px;}
.ya{bottom:71.972003px;}
.y15{bottom:96.896048px;}
.y12{bottom:101.245997px;}
.y1f{bottom:102.846034px;}
.y3{bottom:142.646063px;}
.y18{bottom:147.796048px;}
.y5{bottom:156.192986px;}
.y1d{bottom:160.546046px;}
.y4{bottom:248.184982px;}
.y10{bottom:271.746021px;}
.y25{bottom:297.996008px;}
.y20{bottom:433.146017px;}
.ye{bottom:507.346022px;}
.y0{bottom:596.500000px;}
.y9{bottom:601.689017px;}
.y29{bottom:601.714026px;}
.y1{bottom:698.185034px;}
.y2d{bottom:745.134032px;}
.y2b{bottom:775.330029px;}
.y31{bottom:809.279032px;}
.y1b{bottom:871.025019px;}
.y2f{bottom:911.675021px;}
.h17{height:14.849998px;}
.h1a{height:17.799999px;}
.h8{height:18.949999px;}
.h10{height:20.549999px;}
.h18{height:23.700001px;}
.h15{height:29.799997px;}
.hd{height:30.299997px;}
.hb{height:30.550781px;}
.ha{height:33.299999px;}
.h6{height:33.328125px;}
.h2{height:34.500000px;}
.hc{height:34.699997px;}
.h9{height:36.105469px;}
.he{height:38.549999px;}
.h19{height:42.632812px;}
.h12{height:46.185547px;}
.hf{height:46.593750px;}
.h1b{height:52.910156px;}
.h7{height:62.800011px;}
.h13{height:66.200012px;}
.h14{height:76.350006px;}
.h3{height:77.765625px;}
.h5{height:83.550003px;}
.h11{height:83.900009px;}
.h16{height:95.923828px;}
.h4{height:274.699982px;}
.h1{height:380.000000px;}
.h0{height:1008.150024px;}
.wc{width:43.549991px;}
.w12{width:105.350001px;}
.wa{width:114.500003px;}
.wf{width:124.899997px;}
.w13{width:149.950000px;}
.w8{width:184.250003px;}
.wb{width:217.249988px;}
.w7{width:217.399997px;}
.w9{width:235.800006px;}
.w6{width:329.000018px;}
.w4{width:360.999988px;}
.w11{width:389.499988px;}
.w5{width:489.049975px;}
.w2{width:504.249957px;}
.wd{width:506.749988px;}
.we{width:508.999988px;}
.w1{width:521.000000px;}
.w3{width:546.150012px;}
.w10{width:548.349963px;}
.w0{width:612.099976px;}
.x7{left:13.325000px;}
.x18{left:15.790000px;}
.x1c{left:21.889000px;}
.x2{left:26.190000px;}
.x3{left:31.875000px;}
.xe{left:33.174001px;}
.x0{left:43.500000px;}
.x17{left:46.782001px;}
.xf{left:51.052001px;}
.x1{left:54.424999px;}
.x15{left:55.875000px;}
.xb{left:57.224999px;}
.x8{left:61.125000px;}
.x16{left:65.500000px;}
.x11{left:78.953998px;}
.xc{left:83.661998px;}
.x4{left:89.201999px;}
.x19{left:111.224999px;}
.xa{left:141.524994px;}
.x6{left:179.324997px;}
.x10{left:195.824996px;}
.x9{left:197.110995px;}
.x1b{left:231.175002px;}
.x5{left:273.075000px;}
.x13{left:332.924988px;}
.xd{left:391.825012px;}
.x12{left:461.924987px;}
.x1a{left:497.124999px;}
.x14{left:520.575015px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._7{width:2.704000pt;}
._8{width:4.090667pt;}
._4{width:42.432000pt;}
._5{width:73.354667pt;}
._2{width:119.461333pt;}
._3{width:123.344000pt;}
._0{width:125.888000pt;}
._6{width:144.789333pt;}
._1{width:179.226667pt;}
.fs3{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:69.333333pt;}
.fs4{font-size:85.333333pt;}
.fs6{font-size:96.000000pt;}
.fs5{font-size:144.000000pt;}
.fs0{font-size:149.333333pt;}
.y8{bottom:-217.969360pt;}
.y7{bottom:-92.248006pt;}
.y6{bottom:-49.318726pt;}
.y2e{bottom:4.362665pt;}
.y32{bottom:5.304000pt;}
.y2c{bottom:5.623995pt;}
.y11{bottom:8.583998pt;}
.y1a{bottom:9.341329pt;}
.y2{bottom:10.646667pt;}
.yd{bottom:13.169332pt;}
.y1e{bottom:13.206665pt;}
.y14{bottom:13.341331pt;}
.y17{bottom:15.207995pt;}
.y24{bottom:15.456014pt;}
.y30{bottom:16.162668pt;}
.y19{bottom:26.206662pt;}
.y13{bottom:30.206665pt;}
.yc{bottom:31.568003pt;}
.y28{bottom:31.720016pt;}
.y16{bottom:32.073329pt;}
.y1c{bottom:33.290666pt;}
.y23{bottom:35.388011pt;}
.yf{bottom:48.380015pt;}
.yb{bottom:49.966670pt;}
.y27{bottom:51.652016pt;}
.y22{bottom:55.320012pt;}
.y26{bottom:71.584016pt;}
.y2a{bottom:86.862675pt;}
.y21{bottom:95.184012pt;}
.ya{bottom:95.962671pt;}
.y15{bottom:129.194730pt;}
.y12{bottom:134.994663pt;}
.y1f{bottom:137.128045pt;}
.y3{bottom:190.194751pt;}
.y18{bottom:197.061397pt;}
.y5{bottom:208.257314pt;}
.y1d{bottom:214.061394pt;}
.y4{bottom:330.913310pt;}
.y10{bottom:362.328028pt;}
.y25{bottom:397.328011pt;}
.y20{bottom:577.528023pt;}
.ye{bottom:676.461363pt;}
.y0{bottom:795.333333pt;}
.y9{bottom:802.252022pt;}
.y29{bottom:802.285368pt;}
.y1{bottom:930.913379pt;}
.y2d{bottom:993.512042pt;}
.y2b{bottom:1033.773372pt;}
.y31{bottom:1079.038710pt;}
.y1b{bottom:1161.366692pt;}
.y2f{bottom:1215.566694pt;}
.h17{height:19.799998pt;}
.h1a{height:23.733332pt;}
.h8{height:25.266665pt;}
.h10{height:27.399999pt;}
.h18{height:31.600001pt;}
.h15{height:39.733330pt;}
.hd{height:40.399996pt;}
.hb{height:40.734375pt;}
.ha{height:44.399999pt;}
.h6{height:44.437500pt;}
.h2{height:46.000000pt;}
.hc{height:46.266663pt;}
.h9{height:48.140625pt;}
.he{height:51.399999pt;}
.h19{height:56.843750pt;}
.h12{height:61.580729pt;}
.hf{height:62.125000pt;}
.h1b{height:70.546875pt;}
.h7{height:83.733348pt;}
.h13{height:88.266683pt;}
.h14{height:101.800008pt;}
.h3{height:103.687500pt;}
.h5{height:111.400004pt;}
.h11{height:111.866679pt;}
.h16{height:127.898438pt;}
.h4{height:366.266642pt;}
.h1{height:506.666667pt;}
.h0{height:1344.200033pt;}
.wc{width:58.066654pt;}
.w12{width:140.466668pt;}
.wa{width:152.666670pt;}
.wf{width:166.533329pt;}
.w13{width:199.933333pt;}
.w8{width:245.666670pt;}
.wb{width:289.666650pt;}
.w7{width:289.866662pt;}
.w9{width:314.400008pt;}
.w6{width:438.666691pt;}
.w4{width:481.333317pt;}
.w11{width:519.333317pt;}
.w5{width:652.066634pt;}
.w2{width:672.333276pt;}
.wd{width:675.666650pt;}
.we{width:678.666650pt;}
.w1{width:694.666667pt;}
.w3{width:728.200016pt;}
.w10{width:731.133284pt;}
.w0{width:816.133301pt;}
.x7{left:17.766666pt;}
.x18{left:21.053333pt;}
.x1c{left:29.185333pt;}
.x2{left:34.919999pt;}
.x3{left:42.500001pt;}
.xe{left:44.232001pt;}
.x0{left:58.000000pt;}
.x17{left:62.376001pt;}
.xf{left:68.069335pt;}
.x1{left:72.566666pt;}
.x15{left:74.500000pt;}
.xb{left:76.299999pt;}
.x8{left:81.500000pt;}
.x16{left:87.333333pt;}
.x11{left:105.271997pt;}
.xc{left:111.549330pt;}
.x4{left:118.935998pt;}
.x19{left:148.299999pt;}
.xa{left:188.699992pt;}
.x6{left:239.099996pt;}
.x10{left:261.099995pt;}
.x9{left:262.814660pt;}
.x1b{left:308.233336pt;}
.x5{left:364.100000pt;}
.x13{left:443.899984pt;}
.xd{left:522.433350pt;}
.x12{left:615.899983pt;}
.x1a{left:662.833332pt;}
.x14{left:694.100019pt;}
}
