.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.740234;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.903320;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{width:2.028000px;}
._8{width:3.068000px;}
._4{width:31.824000px;}
._5{width:55.016000px;}
._2{width:89.596000px;}
._3{width:92.508000px;}
._0{width:94.416000px;}
._6{width:108.592000px;}
._1{width:134.420000px;}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:44.000000px;}
.fs1{font-size:48.000000px;}
.fs2{font-size:52.000000px;}
.fs4{font-size:64.000000px;}
.fs0{font-size:112.000000px;}
.y8{bottom:-163.477020px;}
.y7{bottom:-69.186005px;}
.y6{bottom:-36.989044px;}
.y11{bottom:6.437999px;}
.y1a{bottom:7.005997px;}
.y1e{bottom:9.904999px;}
.y14{bottom:10.005999px;}
.y17{bottom:11.405996px;}
.y19{bottom:19.654997px;}
.y2{bottom:21.035000px;}
.y13{bottom:22.654999px;}
.y28{bottom:23.790012px;}
.y16{bottom:24.054996px;}
.yd{bottom:24.126999px;}
.y1c{bottom:24.967999px;}
.yf{bottom:36.285011px;}
.yc{bottom:37.926002px;}
.y27{bottom:38.739012px;}
.yb{bottom:51.725002px;}
.y26{bottom:53.688012px;}
.y24{bottom:54.642006px;}
.y2a{bottom:66.272006px;}
.y23{bottom:69.591003px;}
.y22{bottom:84.540005px;}
.ya{bottom:86.222003px;}
.y15{bottom:113.046011px;}
.y1f{bottom:113.046046px;}
.y21{bottom:114.438004px;}
.y12{bottom:117.396021px;}
.y3{bottom:128.746039px;}
.y5{bottom:156.192986px;}
.y1d{bottom:160.546046px;}
.y18{bottom:163.946011px;}
.y4{bottom:248.184982px;}
.y10{bottom:253.896045px;}
.y25{bottom:289.146032px;}
.y20{bottom:370.146010px;}
.ye{bottom:468.346022px;}
.y9{bottom:568.941031px;}
.y0{bottom:578.500000px;}
.y29{bottom:582.466010px;}
.y1{bottom:678.886012px;}
.y1b{bottom:860.575022px;}
.h8{height:18.949999px;}
.h10{height:20.549999px;}
.hd{height:30.299997px;}
.hb{height:30.550781px;}
.ha{height:33.299999px;}
.h6{height:33.328125px;}
.hc{height:34.699997px;}
.h9{height:36.105469px;}
.he{height:38.549999px;}
.h12{height:46.185547px;}
.hf{height:46.593750px;}
.h2{height:47.549999px;}
.h7{height:62.800011px;}
.h13{height:66.200012px;}
.h3{height:77.765625px;}
.h14{height:77.850006px;}
.h1{height:85.500000px;}
.h5{height:97.800003px;}
.h11{height:126.950005px;}
.h4{height:274.699982px;}
.h0{height:1008.150024px;}
.wc{width:43.549991px;}
.w1{width:114.000000px;}
.wa{width:114.500003px;}
.wf{width:124.900004px;}
.w8{width:184.250003px;}
.wb{width:217.249988px;}
.w7{width:217.399997px;}
.w9{width:235.800006px;}
.w6{width:329.000018px;}
.w4{width:360.999988px;}
.w5{width:489.049975px;}
.w2{width:504.249957px;}
.wd{width:506.749988px;}
.we{width:508.999988px;}
.w3{width:546.150012px;}
.w0{width:612.099976px;}
.x7{left:13.325000px;}
.x2{left:26.190000px;}
.x3{left:31.875000px;}
.xe{left:33.174001px;}
.x16{left:46.782001px;}
.xf{left:51.052001px;}
.x1{left:54.424999px;}
.x15{left:55.875000px;}
.xb{left:57.224999px;}
.x8{left:61.125000px;}
.x0{left:63.500000px;}
.x11{left:78.953998px;}
.xc{left:83.661998px;}
.x4{left:89.201999px;}
.xa{left:141.524994px;}
.x6{left:171.824997px;}
.x10{left:195.824996px;}
.x9{left:197.110995px;}
.x5{left:273.075000px;}
.x13{left:332.924988px;}
.xd{left:391.825012px;}
.x12{left:461.924987px;}
.x14{left:520.575015px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._7{width:2.704000pt;}
._8{width:4.090667pt;}
._4{width:42.432000pt;}
._5{width:73.354667pt;}
._2{width:119.461333pt;}
._3{width:123.344000pt;}
._0{width:125.888000pt;}
._6{width:144.789333pt;}
._1{width:179.226667pt;}
.fs3{font-size:58.666667pt;}
.fs1{font-size:64.000000pt;}
.fs2{font-size:69.333333pt;}
.fs4{font-size:85.333333pt;}
.fs0{font-size:149.333333pt;}
.y8{bottom:-217.969360pt;}
.y7{bottom:-92.248006pt;}
.y6{bottom:-49.318726pt;}
.y11{bottom:8.583998pt;}
.y1a{bottom:9.341329pt;}
.y1e{bottom:13.206665pt;}
.y14{bottom:13.341331pt;}
.y17{bottom:15.207995pt;}
.y19{bottom:26.206662pt;}
.y2{bottom:28.046666pt;}
.y13{bottom:30.206665pt;}
.y28{bottom:31.720016pt;}
.y16{bottom:32.073329pt;}
.yd{bottom:32.169332pt;}
.y1c{bottom:33.290666pt;}
.yf{bottom:48.380015pt;}
.yc{bottom:50.568003pt;}
.y27{bottom:51.652016pt;}
.yb{bottom:68.966670pt;}
.y26{bottom:71.584016pt;}
.y24{bottom:72.856008pt;}
.y2a{bottom:88.362675pt;}
.y23{bottom:92.788005pt;}
.y22{bottom:112.720006pt;}
.ya{bottom:114.962671pt;}
.y15{bottom:150.728015pt;}
.y1f{bottom:150.728061pt;}
.y21{bottom:152.584006pt;}
.y12{bottom:156.528028pt;}
.y3{bottom:171.661385pt;}
.y5{bottom:208.257314pt;}
.y1d{bottom:214.061394pt;}
.y18{bottom:218.594682pt;}
.y4{bottom:330.913310pt;}
.y10{bottom:338.528060pt;}
.y25{bottom:385.528043pt;}
.y20{bottom:493.528013pt;}
.ye{bottom:624.461363pt;}
.y9{bottom:758.588042pt;}
.y0{bottom:771.333333pt;}
.y29{bottom:776.621346pt;}
.y1{bottom:905.181349pt;}
.y1b{bottom:1147.433363pt;}
.h8{height:25.266665pt;}
.h10{height:27.399999pt;}
.hd{height:40.399996pt;}
.hb{height:40.734375pt;}
.ha{height:44.399999pt;}
.h6{height:44.437500pt;}
.hc{height:46.266663pt;}
.h9{height:48.140625pt;}
.he{height:51.399999pt;}
.h12{height:61.580729pt;}
.hf{height:62.125000pt;}
.h2{height:63.399999pt;}
.h7{height:83.733348pt;}
.h13{height:88.266683pt;}
.h3{height:103.687500pt;}
.h14{height:103.800008pt;}
.h1{height:114.000000pt;}
.h5{height:130.400004pt;}
.h11{height:169.266673pt;}
.h4{height:366.266642pt;}
.h0{height:1344.200033pt;}
.wc{width:58.066654pt;}
.w1{width:152.000000pt;}
.wa{width:152.666670pt;}
.wf{width:166.533339pt;}
.w8{width:245.666670pt;}
.wb{width:289.666650pt;}
.w7{width:289.866662pt;}
.w9{width:314.400008pt;}
.w6{width:438.666691pt;}
.w4{width:481.333317pt;}
.w5{width:652.066634pt;}
.w2{width:672.333276pt;}
.wd{width:675.666650pt;}
.we{width:678.666650pt;}
.w3{width:728.200016pt;}
.w0{width:816.133301pt;}
.x7{left:17.766666pt;}
.x2{left:34.919999pt;}
.x3{left:42.500001pt;}
.xe{left:44.232001pt;}
.x16{left:62.376001pt;}
.xf{left:68.069335pt;}
.x1{left:72.566666pt;}
.x15{left:74.500000pt;}
.xb{left:76.299999pt;}
.x8{left:81.500000pt;}
.x0{left:84.666667pt;}
.x11{left:105.271997pt;}
.xc{left:111.549330pt;}
.x4{left:118.935998pt;}
.xa{left:188.699992pt;}
.x6{left:229.099996pt;}
.x10{left:261.099995pt;}
.x9{left:262.814660pt;}
.x5{left:364.100000pt;}
.x13{left:443.899984pt;}
.xd{left:522.433350pt;}
.x12{left:615.899983pt;}
.x14{left:694.100019pt;}
}
