<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/head :: head">



</head>

<body>
    <!-- loader Start -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- loader END -->

    <!--INICIO SIDEBAR-->
    <aside th:replace="layout/sidebar :: sidebar"></aside>
    <!--FINAL SIDEBAR-->


    <main class="main-content">
        <div class="position-relative iq-banner">
            <!--Inicio Topbar-->
            <nav th:replace="layout/topbar :: topbar"></nav>
            <!-- FINAL TOPBAR -->

            <!-- INICIO PRESENTACION -->
            <div th:replace="layout/fragmento :: banner"></div>
            <!-- FIN INICIO PRESENTACION -->
        </div>
        <div class="conatiner-fluid content-inner mt-n5 py-0">
            <div class="row">
                <div class="col-sm-12">

                    <!--FORM DE CARRERA-->
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h3 class="card-title">Firmar Todos</h3>
                            </div>
                        </div>

                        <div th:class="'alert alert-' + (${clase != null} ? ${clase} : info)" role="alert"
                        th:if="${mensaje != null}">
                        <h4 class="alert-body" th:text="${mensaje}"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                         </div>

                         <div th:class="'alert alert-' + (${clase2 != null} ? ${clase2} : info)" role="alert"
                         th:if="${mensaje2 != null}">
                         <h4 class="alert-body" th:text="${mensaje2}"></h4>
                         <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                          </div>

                          <div th:class="'alert alert-' + (${clase3 != null} ? ${clase3} : info)" role="alert"
                          th:if="${mensaje3 != null}">
                          <h4 class="alert-body" th:text="${mensaje3}"></h4>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                           </div>

                        <div class="card-body">
                            <th:block th:if="${autoridad.cargo == 'Rector' }">
                            <form th:action="${edit} ?@{/CarreraModF} :@{/firmarDocumentoRector}" method="post" >
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control" id="nombre_tipo_documento" type="text" name="clavePrivada"
                                        placeholder="Ingrese su Clave Privada" required>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" type="submit"
                                        th:text="${edit} ?'Actualizar' :'Firmar'"></button> 
                                    </div>
                                </div>
                          
                               
                              
                            </form>
                        </th:block>
                        <th:block th:if="${autoridad.cargo == 'Vicerrector' }">
                            <form th:action="${edit} ?@{/CarreraModF} :@{/firmarDocumentoVicerrector}" method="post" >
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control" id="nombre_tipo_documento" type="text" name="clavePrivada"
                                        placeholder="Ingrese su Clave Privada" required>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" type="submit"
                                        th:text="${edit} ?'Actualizar' :'Firmar'"></button> 
                                    </div>
                                </div>
                          
                               
                              
                            </form>
                        </th:block>
                        <th:block th:if="${autoridad.cargo == 'Secretario General' }">
                            <form th:action="${edit} ?@{/CarreraModF} :@{/firmarDocumentoSecretario}" method="post" >
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control" id="nombre_tipo_documento" type="text" name="clavePrivada"
                                        placeholder="Ingrese su Clave Privada" required>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" type="submit"
                                        th:text="${edit} ?'Actualizar' :'Firmar'"></button> 
                                    </div>
                                </div>
                          
                               
                              
                            </form>
                        </th:block>
                        </div>
                    </div>
                    <!--FIN FORM DE CARRERA-->

                    <!--LISTA DE CARRERA-->
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <div class="header-title">
                                <h3 class="card-title">Listar de Titulos sin firmar</h3>

                            </div>
                        </div>

                        <div class="card-body">
                            <th:block th:if="${autoridad.cargo == 'Rector' }">
                            <table id="datatable" class="table table-striped" data-toggle="data-table" >
                                <thead>
                                    <tr>
                                        <th class="border-bottom-0">Número de Titulo</th>
                                        <th class="border-bottom-0">Persona</th>
                                        <th class="border-bottom-0">Fecha Generación</th>
                                    
                                        <th class="border-bottom-0">Accion</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="tis : ${titulosR}" th:if="${tis.estado != 'F'}">
                                     
                                        <td th:text="${tis.nro_titulo}"></td>
                                        <td th:text="${tis.persona.nombre}+' '+${tis.persona.ap_paterno}+' '+${tis.persona.ap_materno}"></td>
                                        <td th:text="${tis.fecha_generacion}"></td>
                            

                                   
                                     
                                        <td>




                                            <div class="d-flex  mb-1">
                                                <div class="flex align-items-center list-user-action">

                                                
                                                    <a type="button" lass="btn btn-sm btn-icon btn-warning"
                                                    th:onclick="renombrar([[${tis.id_titulo}]])" title="Ver"
                                                    data-original-title="Ver">
                                                    <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none"
                                                        xmlns="http://www.w3.org/2000/svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                                            d="M8.09756 12C8.09756 14.1333 9.8439 15.8691 12 15.8691C14.1463 15.8691 15.8927 14.1333 15.8927 12C15.8927 9.85697 14.1463 8.12121 12 8.12121C9.8439 8.12121 8.09756 9.85697 8.09756 12ZM17.7366 6.04606C19.4439 7.36485 20.8976 9.29455 21.9415 11.7091C22.0195 11.8933 22.0195 12.1067 21.9415 12.2812C19.8537 17.1103 16.1366 20 12 20H11.9902C7.86341 20 4.14634 17.1103 2.05854 12.2812C1.98049 12.1067 1.98049 11.8933 2.05854 11.7091C4.14634 6.88 7.86341 4 11.9902 4H12C14.0683 4 16.0293 4.71758 17.7366 6.04606ZM12.0012 14.4124C13.3378 14.4124 14.4304 13.3264 14.4304 11.9979C14.4304 10.6597 13.3378 9.57362 12.0012 9.57362C11.8841 9.57362 11.767 9.58332 11.6597 9.60272C11.6207 10.6694 10.7426 11.5227 9.65971 11.5227H9.61093C9.58166 11.6779 9.56215 11.833 9.56215 11.9979C9.56215 13.3264 10.6548 14.4124 12.0012 14.4124Z"
                                                            fill="currentColor">

                                                        </path>
                                                    </svg>
                                                </a>
                                                </div>


                                            </div>



                                        </td>
                                    </tr>



                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="border-bottom-0">Número de Titulo</th>
                                        <th class="border-bottom-0">Nombre de Archivo</th>
                                        <th class="border-bottom-0">Fecha Generación</th>
                                    
                                        <th class="border-bottom-0">Accion</th>
                                    </tr>
                                </tfoot>
                            </table>
                            </th:block>
                            <th:block th:if="${autoridad.cargo == 'Vicerrector' }">
                                <table id="datatable" class="table table-striped" data-toggle="data-table" >
                                    <thead>
                                        <tr>
                                            <th class="border-bottom-0">Número de Titulo</th>
                                            <th class="border-bottom-0">Persona</th>
                                            <th class="border-bottom-0">Fecha Generación</th>
                                        
                                            <th class="border-bottom-0">Accion</th>
    
                                        </tr>
                                    </thead>
                                    <tbody>
    
                                        <tr th:each="tis : ${titulosV}" th:if="${tis.estado != 'F' && tis.tipo_titulo == 'Academico' }">
                                         
                                            <td th:text="${tis.nro_titulo}"></td>
                                            <td th:text="${tis.persona.nombre}+' '+${tis.persona.ap_paterno}+' '+${tis.persona.ap_materno}"></td>
                                            <td th:text="${tis.fecha_generacion}"></td>
                                
    
                                       
                                         
                                            <td>
    
    
    
    
                                                <div class="d-flex  mb-1">
                                                    <div class="flex align-items-center list-user-action">
    
                                                    
                                                        <a type="button" lass="btn btn-sm btn-icon btn-warning"
                                                        th:onclick="renombrar([[${tis.id_titulo}]])" title="Ver"
                                                        data-original-title="Ver">
                                                        <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg">
                                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                                d="M8.09756 12C8.09756 14.1333 9.8439 15.8691 12 15.8691C14.1463 15.8691 15.8927 14.1333 15.8927 12C15.8927 9.85697 14.1463 8.12121 12 8.12121C9.8439 8.12121 8.09756 9.85697 8.09756 12ZM17.7366 6.04606C19.4439 7.36485 20.8976 9.29455 21.9415 11.7091C22.0195 11.8933 22.0195 12.1067 21.9415 12.2812C19.8537 17.1103 16.1366 20 12 20H11.9902C7.86341 20 4.14634 17.1103 2.05854 12.2812C1.98049 12.1067 1.98049 11.8933 2.05854 11.7091C4.14634 6.88 7.86341 4 11.9902 4H12C14.0683 4 16.0293 4.71758 17.7366 6.04606ZM12.0012 14.4124C13.3378 14.4124 14.4304 13.3264 14.4304 11.9979C14.4304 10.6597 13.3378 9.57362 12.0012 9.57362C11.8841 9.57362 11.767 9.58332 11.6597 9.60272C11.6207 10.6694 10.7426 11.5227 9.65971 11.5227H9.61093C9.58166 11.6779 9.56215 11.833 9.56215 11.9979C9.56215 13.3264 10.6548 14.4124 12.0012 14.4124Z"
                                                                fill="currentColor">
    
                                                            </path>
                                                        </svg>
                                                    </a>
                                                    </div>
    
    
                                                </div>
    
    
    
                                            </td>
                                        </tr>
    
    
    
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th class="border-bottom-0">Número de Titulo</th>
                                            <th class="border-bottom-0">Nombre de Archivo</th>
                                            <th class="border-bottom-0">Fecha Generación</th>
                                        
                                            <th class="border-bottom-0">Accion</th>
                                        </tr>
                                    </tfoot>
                                </table>
                                </th:block>
                                <th:block th:if="${autoridad.cargo == 'Secretario General' }">
                                    <table id="datatable" class="table table-striped" data-toggle="data-table" >
                                        <thead>
                                            <tr>
                                                <th class="border-bottom-0">Número de Titulo</th>
                                                <th class="border-bottom-0">Persona</th>
                                                <th class="border-bottom-0">Fecha Generación</th>
                                            
                                                <th class="border-bottom-0">Accion</th>
        
                                            </tr>
                                        </thead>
                                        <tbody>
        
                                            <tr th:each="tis : ${titulosS}" th:if="${tis.estado != 'F'  }">
                                             
                                                <td th:text="${tis.nro_titulo}"></td>
                                                <td th:text="${tis.persona.nombre}+' '+${tis.persona.ap_paterno}+' '+${tis.persona.ap_materno}"></td>
                                                <td th:text="${tis.fecha_generacion}"></td>
                                    
        
                                           
                                             
                                                <td>
        
        
        
        
                                                    <div class="d-flex  mb-1">
                                                        <div class="flex align-items-center list-user-action">
        
                                                        
                                                            <a type="button" lass="btn btn-sm btn-icon btn-warning"
                                                            th:onclick="renombrar([[${tis.id_titulo}]])" title="Ver"
                                                            data-original-title="Ver">
                                                            <svg class="icon-32" width="32" viewBox="0 0 24 24" fill="none"
                                                                xmlns="http://www.w3.org/2000/svg">
                                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                                    d="M8.09756 12C8.09756 14.1333 9.8439 15.8691 12 15.8691C14.1463 15.8691 15.8927 14.1333 15.8927 12C15.8927 9.85697 14.1463 8.12121 12 8.12121C9.8439 8.12121 8.09756 9.85697 8.09756 12ZM17.7366 6.04606C19.4439 7.36485 20.8976 9.29455 21.9415 11.7091C22.0195 11.8933 22.0195 12.1067 21.9415 12.2812C19.8537 17.1103 16.1366 20 12 20H11.9902C7.86341 20 4.14634 17.1103 2.05854 12.2812C1.98049 12.1067 1.98049 11.8933 2.05854 11.7091C4.14634 6.88 7.86341 4 11.9902 4H12C14.0683 4 16.0293 4.71758 17.7366 6.04606ZM12.0012 14.4124C13.3378 14.4124 14.4304 13.3264 14.4304 11.9979C14.4304 10.6597 13.3378 9.57362 12.0012 9.57362C11.8841 9.57362 11.767 9.58332 11.6597 9.60272C11.6207 10.6694 10.7426 11.5227 9.65971 11.5227H9.61093C9.58166 11.6779 9.56215 11.833 9.56215 11.9979C9.56215 13.3264 10.6548 14.4124 12.0012 14.4124Z"
                                                                    fill="currentColor">
        
                                                                </path>
                                                            </svg>
                                                        </a>
                                                        </div>
        
        
                                                    </div>
        
        
        
                                                </td>
                                            </tr>
        
        
        
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th class="border-bottom-0">Número de Titulo</th>
                                                <th class="border-bottom-0">Nombre de Archivo</th>
                                                <th class="border-bottom-0">Fecha Generación</th>
                                            
                                                <th class="border-bottom-0">Accion</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                    </th:block>
                        </div>
                        <div class="modal fade" tabindex="-1" id="ModalEvaluacion" role="dialog"
                        aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <div>


                                    <iframe width="800" height="800" id="iframe-pdf" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>

                            </div>
                        </div>
                    </div>
                    </div>
                    <!--FIN LISTA DE CARRERA-->
                </div>
            </div>
        </div>
        </div>

        <!-- Footer Section Start -->
        <footer th:replace="layout/footer :: footer">
        </footer>
        <!-- Footer Section End -->
    </main>

    <!-- INICIO TEMA -->
    <a th:replace="layout/fragmento :: tuerca"></a>
    <!-- FIN INICIO TEMA -->

    <!-- INICIO CONTENIDO TEMA -->
    <div th:replace="layout/fragmento :: tema"></div>
    <!-- FIN INICIO CONTENIDO -->


    <script type="text/javascript">
        function renombrar(id_archivo_adjunto) {
            var id_a = id_archivo_adjunto;

            //alert(id_archivo_adjunto);

            $("#ModalEvaluacion").modal("show");

            $("#id_a").val(id_a);

            $("#iframe-pdf").attr("src", `/openFileTitulo/${id_a}`)


        }

    </script>



    <!--INICIO SCRIPTS-->
    <div th:replace="layout/script :: script"></div>
    <!--FINAL SCRIPTS-->
</body>

</html>